{% block content %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!--Change Password-->
<div class="container py-5">
	<h1>Change Password</h1>
	<form method="POST">
		{% csrf_token %}
		{% bootstrap_form change_password_form %}
		<button class="btn btn-primary" type="submit">Change</button>
	</form>
</div>

{% endblock %}