{% block content %}
    <!DOCTYPE html>

    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous"
        />

        <title>User Agent</title>


        <style>
            body::after {
                content: "";
                background-image: url("https://cdn.dribbble.com/users/4976068/screenshots/14170846/game_pattern_4x.png");
                background-size: cover;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }


            .games-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">Matchmaking</a>
        <a href="http://localhost:8000/logout" class="btn btn-dark btn-sm nav-item" role="button" id="logout">Logout</a>
    </nav>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card games-container text-center" style="max-width: none">
                <div class="card-header">
                    <span>Game Settings</span>
                </div>
                <div class="card-body" style="box-sizing: content-box">
                    <div id="game_container" class="row">
                        <div class="col-md-6">
                            <div class="thumb-lg member-thumb mx-auto">
                                <img style="max-width: none" width="200px"
                                     src="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/ColinStapczynski/phpa2wQPr.png"
                                     class="img-thumbnail"
                                     title="Game of {{ room.game }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="thumb-lg member-thumb mx-auto">
                                <h5 class="card-title">Game type: {{ room.game }}</h5>
                                <h5 class="card-title">Current players: <span id="current_num_players"></span></h5>
                                <h5 class="card-title">Max players: {{ room.game.num_players }}</h5>
                                <h5 class="card-title">Room ID: {{ room.id }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <form action="{% url 'game' %}?room_id={{ room.id }}" method="POST">
                        {% csrf_token %}
                        <button id="game_results" type="button submit" class="btn btn-danger" style="display:none">
                            PLAY
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card games-container text-center" style="max-width: none">
                <div class="card-header">
                    <span>Your id = <span id="player_id"></span></span>
                </div>
                <div class="card-body" style="box-sizing: content-box">
                    <div id="player_container" class="row">
                    </div>
                </div>
                <div class="card-header">
                    <span>Your opponents:</span>
                </div>
                <div class="card-body">
                    <div id="opponents_container" class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>
{% endblock %}
{% block script %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        $(document).ready(function () {

                let player_id = getCookie('player_id')
                document.getElementById('player_id').innerHTML = player_id

                let room_id = "{{ room.id }}";

                var loc = window.location;
                var wsStart = 'ws://';

                if (loc.protocol == 'https:') {
                    var wsStart = 'wss://';
                }

                let chatSocket = new WebSocket(
                    wsStart
                    + window.location.host
                    + '/ws/matchmaker/'
                    + room_id
                    + '/'
                );

                $('#game_results').click(function () {
                    chatSocket.send(JSON.stringify({
                        'message': 'results-incoming'
                    }));
                });

                chatSocket.onopen = function (e) {
                    // nothing
                };

                chatSocket.onmessage = function (e) {
                    let message = JSON.parse(e.data)['message'];

                    if (message['message-type'] === 'get-room-players') {
                        let message_body = JSON.parse(message['message-body']);
                        let opponents = "";
                        let player = "";
                        for (let i = 0; i < message_body.length; i++) {
                            if (message_body[i].fields['player_id'] === player_id) {
                                player +=
                                    `<div class="col-md-6">
                                        <div class="thumb-lg member-thumb mx-auto">
                                            <img style="max-width: none" width="200px" src="https://avatars.dicebear.com/v2/identicon/${message_body[i].fields['player_id']}.png" class="rounded-circle img-thumbnail" title="${message_body[i].fields['player_id']}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thumb-lg member-thumb mx-auto">
                                            <h5 class="card-title">Skill: ${message_body[i].fields['skill']}</h5>
                                            <h5 class="card-title">Behaviour: ${message_body[i].fields['behaviour']}</h5>
                                            <h5 class="card-title">Skill preference: ${message_body[i].fields['skill_preference']}</h5>
                                            <h5 class="card-title">Behaviour preference: ${message_body[i].fields['behaviour_preference']}</h5>
                                        </div>
                                    </div>`
                            } else {
                                opponents +=
                                    `<div id="${message_body[i].fields['player_id']}" class="thumb-lg member-thumb mx-auto">
                                        <img style="max-width: none; margin: 10px" width="100px" src="https://avatars.dicebear.com/v2/identicon/${message_body[i].fields['player_id']}.png" class="rounded-circle img-thumbnail" title="${message_body[i].fields['player_id']}">
                                    </div>`
                            }

                        }
                        $('#player_container').html(player);
                        $('#opponents_container').html(opponents);
                    } else if (message['message-type'] === 'update-players') {
                        chatSocket.send(JSON.stringify({
                            'message': 'get-room-players'
                        }));
                    } else if (message['message-type'] === 'update-room-match-status') {
                        $('#match_status').text(message['message-body']);
                    } else if (message['message-type'] === 'results-incoming') {
                        window.location = "http://localhost:8002/game/?room_id=" + room_id;

                    } else if (message['message-type'] === 'update-current-num-players') {
                        $('#current_num_players').text(message['message-body']);
                        // room is now full and can proceed to play
                        if (message['message-body'] === {{ room.game.num_players }}) {
                            $('#game_results').show();

                        }
                    }

                };

                chatSocket.onclose = function (e) {
                    console.error('Chat socket closed unexpectedly');
                };
            }
        );


    </script>
{% endblock %}

</body>
</html>
